<h1>Welcome To Dashboard <%= current_user.username %>!</h1>
<div id="sidebar">
	<% if can? :manage, User.new %>
	<ul><%= link_to 'List Editors', editors_path %></ul>
	<ul><%= link_to 'New Editor', new_editor_path %></ul>
	<% end %>
	<% if can? :manage, Article.new %>
	<ul><%= link_to 'List Unpublished Articles', unpublished_path %></ul>
	<% end %>
	<% if can? :create, Article.new %>
	<ul><%= link_to 'My Articles/Drafts', myarticles_path %></ul>	
	<ul><%= link_to 'Draft New Article', new_article_path %></ul>
	<% end %>
</div>
<div id="dashboard_body">