<%= render 'dashboard_header' %>

<%= simple_form_for :editor, url: { action: 'update' }, method: :patch, :html => { :class => "form-horizontal" } do |f| %>
<fieldset>
	<legend>
		Editor Details
	</legend>
	<%= f.error_notification %>
	<% @editor.errors.full_messages.each do |msg| %>
	<div class="alert alert-error alert-block">
		<button type="button" class="close" data-dismiss="alert">
			&#215;
		</button>
		<%= msg %>
	</div>
	<% end %>

	<%= f.input :username %>

	<%= f.input :email %>
	<%= f.input :current_password %>
	<%= f.input :password %>
	<%= f.input :password_confirmation %>

	<div class="form-actions">
		<%= f.submit "Edit" %>
	</div>
</fieldset>
<% end %>
<%= render 'dashboard_footer' %>