<%= render 'dashboard_header' %>
<span class="label label-inverse">Listing Drafts</span>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @myArticles.each do |article| %>
    <% unless article.published %>
      <tr>
        <td><%= article.title %></td>
        <td><%= link_to 'Show', article, :class =>'btn btn-small' %></td>
        <td><%= link_to 'Edit', edit_article_path(article) ,:class =>'btn btn-small' %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, :class =>'btn btn-small' %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<span class="label label-inverse">Listing Published Articles</span>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @myArticles.each do |article| %>
    <% if article.published %>
      <tr>
        <td><%= article.title %></td>
        <td><%= link_to 'Show', article, :class =>'btn btn-small' %></td>
        <td><%= link_to 'Edit', edit_article_path(article), :class =>'btn btn-small' %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, :class =>'btn btn-small' %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= render 'dashboard_footer' %>
