<%= render 'dashboard_header' %>

<%= simple_form_for :editor, url: editors_path, :html => { :class => "form-horizontal" } do |f| %>
<fieldset>
	<legend>
		Create Editor
	</legend>
	<%= f.error_notification %>
	<% @editor.errors.full_messages.each do |msg| %>
	<div class="alert alert-error alert-block">
		<button type="button" class="close" data-dismiss="alert">
			&#215;
		</button>
		<%= msg %>
	</div>
	<% end %>

 	<%= f.input :username %>

	<%= f.input :email %>
	
  	<%= f.input :password %>
  	<%= f.input :password_confirmation %>

	<div class="form-actions">
		<%= f.submit "Create Editor" %>
	</div>
		<%= link_to_function "Back", "history.back()", :class => 'btn' %>
</fieldset>
<% end %>

<%= render 'dashboard_footer' %>