<%= render 'dashboard_header' %>
<span class="label label-inverse">Listing Unpublished Articles</span>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>By</th>
      <th>Show</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><% unless article.user == nil %>
        	 <%= article.user.username %>
        	  <% else %>Anonymous
        	  <% end %></td>
        <td><%= link_to 'Show', article, :class =>'btn btn-small'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'dashboard_footer' %>
