<%= render 'devise/header' %>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
<fieldset>
	<legend>
		Edit <%= resource_name.to_s.humanize %>
	</legend>
	<%= f.error_notification %>
	<%= display_base_errors resource %>

	<%= f.input :username %>
	<%= f.input :email %>

	<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	<div>
		Currently waiting confirmation for: <%= resource.unconfirmed_email %>
	</div>
	<% end %>
	<small><em>(leave blank if you don't want to change it)</em></small>
	<%= f.input :password %>

	<%= f.input :password_confirmation %>
	<small><em>(we need your current password to confirm your changes)</em></small>
	<%= f.input :current_password %>

	<div class="form-actions">
		<%= f.submit "Update" %>
	</div>
</fieldset>
<% end %>

<%= link_to "Back", :back, :class => 'btn' %>
<%= render 'devise/footer' %>
