
      <div class="span12">
       <% @articles.each do |article| %>
       <div class="span4">
        <h1><a href="/articles/<%= article.id %>" ><%= article.title %></a></h1>
        <p><%= article.body %></p>
        <p>By <%= article.user.username %> 
<% if can? :update, @article %>
	<%= link_to 'Edit', edit_article_path(@article) %> | 
	<%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>
 </p>
      </div>
        <% end %>
		</div>
<%= link_to 'New Article', new_article_path %>
