<%= render 'articles_header' %>
		<% @articles.each do |article| %>
		<div class="span4">
			<h2><%= article.title %></h2>
			<p>
				<em>By <%= article.user.username %></em>
			<p>
				<%= article.body %>
			</p>
			<p>
				<%= link_to 'Show', article, :class => 'btn' %>
				<% if can? :update, @article %>
				<%= link_to 'Edit', edit_article_path(@article), :class => 'btn' %>
				<%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %>

				<% end %>
			</p>
		</div>
		<% end %>

	<% if can? :create, Article.new %>
	<%= link_to 'New Article', new_article_path, :class => 'btn btn-primary btn-large' %>
	<% end %>
<%= render 'articles_footer' %>