<%= render 'articles_header' %>
<div class="span7 offset1 articles">
	<p id="notice">
		<%= notice %>
	</p>

	<h3>
		<strong><%= @article.title %></strong>
	</h3>
	<blockquote>
		<p>
		<small><em> By <%= @article.user.username %>,  Date Created: <%= @article.created_at %></em></small></p>
		<p class='lead'>
			<%= @article.body %>
		</p>
	</blockquote>

	<% if can? :update, @article %>
		<%= link_to 'Edit', edit_article_path(@article), :class => 'btn' %>
			<% unless @article.published %>
				<% if can? :manage, @article %>
				<%= link_to 'Publish', article_publish_path(@article), :class => 'btn' %>
			<% end %>
		<% end %>
		<%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
	<% end %>
</div>
<%= render 'articles_footer' %>