<%= render 'devise/header' %>
<%= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
<fieldset>
	<legend>
		Resend unlock instructions
	</legend>
	<%= f.error_notification %>
	<%= display_base_errors resource %>

	<%= f.input :email %>

	<div class="form-actions">
		<%= f.submit "Resend unlock instructions" %>
	</div>

</fieldset>
<% end %>

<%= render "devise/shared/links" %>
<%= render 'devise/footer' %>
